<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="images/Logo_100px.gif" rel="shortcut icon" type="image/x-icon"/>
    <title>派迅酒业</title>
    <link href="stylesheets/reset.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>
<body>
